.backgroundWrapper {
    position: relative;
    /* Adjusted this */
    /* Removed the top, left, right, bottom properties */
    /* z-index: -1; */
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.card {
    width: calc(33.333% - 2%);
    margin: 1%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    border-radius: 8px;
    transition: box-shadow 0.3s, transform 0.3s;
    position: relative;
    /* Ensures that child elements with 'absolute' positioning refer to this container */
    overflow: hidden;
    /* Add this to ensure that the content outside of the card is not visible */

}

.card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.title,
.subtitle {
    text-align: center;
}

.title {
    margin-top: 40%;
}

.subtitle {
    font-size: 0.85em;
    font-style: italic;
    margin-top: 10px;
}

.card-content {
    padding: 16px;
}

.card .date-container {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 0.85em;
    z-index: 2;
    /* Ensures the date stays on top */
}

.more-info {
    overflow: hidden;
    max-height: 0;
    /* Initially set max height to 0 */
    transition: max-height 0.5s ease-in-out;
    padding: 0 16px;
}

.card:hover .more-info {
    max-height: 500px;
    /* On hover, expand it to a large value. Adjust if necessary. */
}


.info-button,
.delete-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.info-button {
    background-color: #007BFF;
    color: white;
}

.info-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}