.main {
    flex: 1;
    padding: 20px;
}

.body {
    background-color: #f5f5f5;
    padding: 20px;
}

.blueText {
    color: #54b4f0;
    /* Set the desired blue color */
}

.biggerFont {
    font-size: 50px;
    /* Set the desired font size */
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.section {
    margin: 40px 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.section p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.worksItem {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.checkIcon {
    color: green;
    margin-right: 8px;
}

.widerImage {

    /* Set the width to 100% to make the image wider */
    max-width: 750px;
    /* You can adjust the max-width as needed */
}