.formContainer {
    height: 100vh;
    padding-top: 20px;
    background-size: cover;
    background-position: center;
}

.whiteText {
    color: white;
}

.noSidePadding {
    padding-left: 25px;
    padding-right: 0;
    margin-left: 0px;
}

.marginLeft {
    margin-left: 20px;
    padding-right: 60px;
}

.marginRight {
    margin-right: 20px;
}

.customCard {
    background-color: rgba(236, 244, 247, 0.87);
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: none;
    margin-bottom: 15px;
}

.mainTextColor {
    color: #005c97;
}

.highlightTextColor {
    color: #FF57B9;
}

.secondaryTextColor {
    color: #00A8E8;
}

.calendarComponent {
    max-height: 400px;
    overflow-y: auto;
}

/* Responsiveness */
@media (max-width: 768px) {

    .noSidePadding,
    .marginLeft {
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px 0;
    }

    .formContainer {
        padding-top: 10px;
    }
}