.dashboardGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    /* Gap between main content and right sidebar */
    padding-top: 20px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nestedGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    /* Gap between MedicationsWidget & DailyPercentage */
}

.mainContent {
    padding-left: 25px;
    padding-right: 0;
}

.rightSidebar {
    padding-right: 60px;
}

/* ... (rest of the non-grid related styles) */

.formContainer {
    height: 100vh;
    padding-top: 20px;
    background-size: cover;
    background-position: center;
}

.whiteText {
    color: white;
}

.noSidePadding {
    padding-left: 25px;
    padding-right: 0;
    margin-left: 0px;
}

.marginLeft {
    margin-left: 20px;
    padding-right: 60px;
}

.marginRight {
    margin-right: 20px;
}

.customCard {
    background-color: rgba(236, 244, 247, 0.87);
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: none;
    margin-bottom: 15px;
}

.mainTextColor {
    color: #005c97;
}

.highlightTextColor {
    color: #FF57B9;
}

.secondaryTextColor {
    color: #00A8E8;
}

.calendarComponent {
    max-height: 400px;
    overflow-y: auto;
}

.delayed-animation-1s {
    animation-delay: 1s !important;
}

.invisibleCard {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear, visibility 0.5s linear;
}




/* Responsiveness */
@media (max-width: 768px) {

    .noSidePadding,
    .marginLeft {
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px 0;
    }

    .formContainer {
        padding-top: 10px;
    }
}