.doseContainer {
    height: 630px;
    max-height: 630px;
    overflow-y: auto;
}


.card {
    margin-bottom: 10px;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cardContent {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.medicationName {
    margin: 0 20px 0 5px;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}

.dose-time {
    font-style: italic;
    font-size: 0.9rem;
    color: #FF57B9;
    background: linear-gradient(90deg, #FF57B9, #FF3860);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

.checkboxContainer {
    position: relative;
    margin-right: 10px;
}

.hoverText {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: #f5f5f5;
    padding: 2px 5px;
    border-radius: 3px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    z-index: 1;
}

.checkboxContainer:hover .hoverText {
    visibility: visible;
    opacity: 1;
}


/* Responsive Breakpoints */

@media (max-width: 576px) {
    .medicationName {
        width: 50%;
    }

    .checkboxContainer {
        margin-bottom: 10px;
    }
}