@import "~bulma/css/bulma.css";

:root {
    --primary-color: #00A8E8;
    --radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    background: #f7f8fb;
}

.navbar-column {
    position: sticky;
    /* making the navbar column sticky */
    top: 0;
    height: 100vh;

}

.full-height {
    height: 100%;
}

body { 
    /* background-image: url('https://files.123freevectors.com/wp-content/original/110489-blue-blurred-background-vector.jpg');
    background-color: rgba(245, 245, 245, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    min-height: 150vh;
}