.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.imageContainer {
    flex: 1;
}

.image {
    max-width: 100%;
    height: auto;
}

.textContainer {
    flex: 1;

    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.textContainer h1 {
    margin-bottom: 10px;
}

.textContainer p {
    color: #555;
}