.contentWrapper {
    padding-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    /* ensures it takes up at least the full height of the viewport */
}


.whiteText {
    color: white;
}

.titleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 0px;
}